body {
    background-color: #565656;
  }
  
  .newsLetter {
    background-color: black;
    margin: 0px 10px;
  }
  
  .newsLetter h1 {
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 40px;
  }
  
  .newsLetter p {
    color: white;
    font-size: 13px;
    text-align: center;
  }
  
  .sign-up {
    display: flex;
    justify-content: center;
  }
  
  .sign-up input {
    margin-bottom: 25px;
    margin-top: 10px;
    border-radius: 8px;
    display: block;
  }
  
  .button1 {
    display: block;
    width: 70%;
    position: relative;
    top: 0px;
    left: 10px;
  }
  
  .button2 {
    width: 95px;
    color: white;
    background-color: #565656;
  }
  
  .button2:hover {
    color: blue;
  }
  
  .social-text {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
  }
  
  .info {
    background-color: rgb(189, 189, 189);
    height: 100px;
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .info b {
    font-size: 20px;
    text-align: center;
    margin: 0px 20px;
    cursor: pointer;
  }
  
  .info b:hover {
    color: blue;
  }
  
  .paymethods {
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .klarna {
    height: 40px;
  }
  
  .mastercard {
    height: 50px;
  }
  
  .visa {
    height: 40px;
  }
  
  .postnord {
    height: 40px;
  }
  