.input-group {
  position: initial;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  justify-content: center;
}

.btn-primary {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 10px;

  text-align: center;
}

p {
  text-align: center;
}
